/* Contenedor principal */
.pasarela-pago-container {
  flex: 1;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 100px; /* Espacio para el footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#pay {
  display: inline-block;
  background-color: #FAFAFA;
  background: url('https://sandbox-paybox.pagoplux.com/img/pagar.png?v1') no-repeat center center;
  height: 8rem;
  width: 17rem;
  border: 1px solid #ccc; /* Borde sutil de 1px */
  border-radius: 12px; /* Bordes redondeados */
  cursor: pointer;
  background-size: contain;
  outline: 0;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 4px 8px rgba(1, 54, 134, 0.2); /* Sombra inicial */
}

#pay:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el cursor */
  background-color: #3d7bb43f; /* Color más oscuro al pasar el mouse */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada en hover */
}

