#pay {
  display: inline-block;
  background-color: #FAFAFA;
  background: url('https://sandbox-paybox.pagoplux.com/img/pagar.png?v1') no-repeat center center;
  height: 96px;
  width: 215px;
  border: none;
  cursor: pointer;
  background-size: contain;
  outline: 0;
}
