.navbar {
    padding: 8px;
    background-color: #7FB3D5 !important;
    font-weight: 500;
  }

  .btn{
    background-color: #2874A6;
    color: white;

  }
  .btn:hover{
    background-color: #7FB3D5;
    border: 1px solid #2874A6 !important;
  }
  
  .nav-item .nav-link.active {
    color: white; /* Cambia el color cuando esté activa */
  }
  