.navbar {
    background-color: #333;
    padding: 1rem;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem; /* Añadido espacio entre elementos del menú */
    margin: 0;
    padding: 0;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-item a:hover {
    text-decoration: underline;
}
