.home-container {
  padding: 16px;
  font-family: "Lato", sans-serif;
}
/*Header*/
.home-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 700px;
  width: 100%;
  color: #2c3e50;
  overflow: hidden;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.home-content{
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  max-width: 700px;
  z-index: 1;
  background: none;
}
.home-content .logo{
  font-size: 2.3rem;
  text-shadow: 2px 2px 5px black;
}
.home-content span{
  color: #aece57;
}
.home-content .sur{
  color: #2a43d2;
}
.main-content{
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 padding: 20px;
 max-width: 700px;
 z-index: 1;
 background: none;
}
.main-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;

  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.main-content p{
  font-size: 1.2rem;
  margin-bottom: 20px;

  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.main-content .banner-subtitle {
  font-size: 1.5rem;
  margin-top: 20px;
}

.btn-primary {
  justify-content: flex-end;
  background-color: #2874a6;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;


  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn-primary:hover {
  transform: scale(1.05);
  background-color: #7fb3d5;
  font-weight: 500;
  border: 1px solid #2874a6;
}
a {
  text-decoration: none !important;
}
/*END HEADER*/

/*Especialidades*/
.info-buttons-section {
  margin-top: 32px;
  position: relative;
  overflow: hidden;

  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.info-buttons-section h2{
  margin-left: 15px;
  position: relative;
  color: #2874a6;
  font-size: 3rem;
  z-index: 1;
  
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.info-buttons-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 16px;
  z-index: 1;
  justify-content: flex-end;
}

.info-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-buttons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-end;
}

.info-button-card {
  background-color: #f8f9fa;
  padding: 24px;
  border-radius: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  width: 35%;
}
.info-button-card:hover {
  transform: scale(1.05);
}

.info-icon-left {
  width: 55px;
  height: 55px;
  margin-right: 16px;
}

.info-button-text h3 {
  font-size: 1.5rem;
  margin: 0;
  color: #2874a6;
}

.info-button-text p {
  margin: 4px 0 0;
  color: #999;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  font-size: 17px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.popup-body {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.popup-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.close-popup {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
/*END ESPECIALIZACIONES*/

/*"LO MEJOR PARA TU SALUD"*/
.specialties-section {
  margin-top: 32px;
}

.section-title {
  font-size: 3rem;
  color: #2874a6;
  margin-bottom: 32px;
  text-align: center;

  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.specialties-section .parent{
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 8px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.specialties-section .div1{
  grid-column: span 2 / span 2;
  grid-row:  span 5 / span 5;
}

.specialties-section .div1 img {
  width: 300px; /* Cambia el valor según el tamaño deseado */
  height: auto; /* Mantiene la proporción de la imagen */
}


.specialties-section .div2 {
  grid-row: span 5 / span 5;
  grid-column-start: 3;
  width: 100%; /* Asegura que el ancho se ajuste al contenedor */
  padding: 20px; /* Agrega un poco de espacio interno */
  font-size: 2rem; /* Ajusta el tamaño del texto si es necesario */
  max-width: 600px; /* Define un ancho máximo para evitar que se extienda demasiado */
  margin-right: 60px;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.specialties-section .div2 h2 {
  font-size: 2.5rem; /* Ajusta el tamaño */
  font-weight: bold; /* Si quieres resaltar más el texto */

  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}


.specialties-section .services-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}
.service-card{
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

}
.service-card:hover{
  transform: translateY(-10px);
}
.services-section h3 {
  font-size: 1.5em;
  color: #333;
  margin-top: 15px;
  margin-bottom: 15px;

  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.services-section h4 {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 15px;

  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.services-section p {
  color: #666;
  line-height: 1.6;
  margin-top: 10px;

  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*end*/

/*Carousel*/
.carousel-section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.carousel{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.testimonial-section {
  margin-top: 32px;
  padding: 16px;
  text-align: center;
}
.container-testimonial {
  background-color: #e3f2fd;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}
.panel-info {
  padding: 10px;
}
.panel-body {
  padding: 10px;
}

textarea.form-control {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  resize: none;
  border: 1px solid #ddd;
}
.btn-post {
  background-color: #2874a6;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.btn-post:hover{
  background-color: #0288d1;
}
.media-list{
  list-style-type: none;
  padding-left: 0;
}
.media-body {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
}
.media-body:last-child {
  border-bottom: none;
}
.txt-muted {
  color: #999;
}
.txt-mtd {
  font-size: 0.85rem;
}
.txt-succes {
  color: #388e3c;
  margin-left: 10px;
}
p {
  margin: 0;
}
strong {
  margin-left: 10px;
}
hr {
  border: none;
  border-top: 1px solid #ddd;
}
.whatsapp-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-decoration: none;
}
.whatsapp-button img{
  width: 70px;
  height: 70px;
}
.whatsapp-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


/* Media Queries */
@media (max-width: 1200px) {
  .home-header {
    height: 600px;
  }

  .home-content, .main-content {
    max-width: 600px;
  }

  .info-buttons-container {
    gap: 24px;
  }

  .info-button-card {
    width: 45%;
  }

  .specialties-section .parent {
    grid-template-columns: 1fr 2fr;
  }

  .specialties-section .div2 {
    grid-column-start: 3;
    align-items: right;
  }
}

@media (max-width: 992px) {
  .home-header {
    height: 500px;
  }

  .home-content, .main-content {
    max-width: 500px;
  }

  .info-buttons-container {
    gap: 16px;
  }

  .info-button-card {
    width: 100%;
  }

  .specialties-section .parent {
    grid-template-columns: 1fr;
  }

  .specialties-section .div2 {
    grid-column-start: 1;
  }

  .specialties-section .services-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .home-header {
    height: 400px;
  }

  .home-content, .main-content {
    max-width: 400px;
  }

  .info-buttons-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-buttons-list {
    flex-direction: column;
  }

  .specialties-section .services-section {
    grid-template-columns: 1fr;
  }

  .carousel {
    height: 400px;
  }
}

@media (max-width: 576px) {
  .home-header {
    height: 300px;
  }

  .home-content, .main-content {
    max-width: 300px;
  }

  .home-content .logo {
    font-size: 1.8rem;
  }

  .main-content h1 {
    font-size: 2rem;
  }

  .main-content p {
    font-size: 1rem;
  }

  .info-buttons-section h2 {
    font-size: 2rem;
  }

  .info-button-text h3 {
    font-size: 1.2rem;
  }

  .info-button-text p {
    font-size: 0.9rem;
  }

  .specialties-section .div2 {
    font-size: 1.5rem;
  }

  .specialties-section .div2 h2 {
    font-size: 2rem;
  }

  .services-section h3 {
    font-size: 1.2em;
  }

  .services-section h4 {
    font-size: 1em;
  }

  .services-section p {
    font-size: 0.9em;
  }

  .carousel {
    height: 300px;
  }
}