.home-container {
  padding: 16px;
  background-color: #f2f4f4;
  font-family: "Lato", sans-serif;
}

.home-header {
  text-align: center;
  padding: 16px;
}

.banner {
  position: relative;
  background-color: #7fb3d5;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}
.banner img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.banner-title {
  font-size: 2rem;
  color: #2874a6;
}

.banner-subtitle {
  font-size: 1.25rem;
  color: #ffffff;
}

.btn-primary {
  background-color: #2874a6;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #7fb3d5;
  color: black !important;
  font-weight: 500;
  border: 1px solid #2874a6;
}
a {
  text-decoration: none !important;
}

.specialties-section {
  margin-top: 32px;
}

.section-title {
  font-size: 3rem;
  color: #2874a6;
  margin-bottom: 16px;
  text-align: center;
}

.specialties-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.specialty-card {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto;
}

.icon-placeholder img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  object-fit: cover;
  border-radius: 8px;
}

.testimonial-section {
  margin-top: 32px;
  padding: 16px;
  text-align: center;
}
.container-testimonial {
  background-color: #e3f2fd;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}
.panel-info {
  padding: 10px;
}
.panel-body {
  padding: 10px;
}

textarea.form-control {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  resize: none;
  border: 1px solid #ddd;
}
.btn-post {
  background-color: #2874a6;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.btn-post:hover{
  background-color: #0288d1;
}
.media-list{
  list-style-type: none;
  padding-left: 0;
}
.media-body{
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
}
.media-body:last-child{
  border-bottom: none;
}
.txt-muted{
  color: #999;
}
.txt-mtd{
  font-size: 0.85rem;
}
.txt-succes{
  color: #388e3c;
  margin-left: 10px;
}
p {
  margin: 0;
  padding-left: 50px;
}
strong {
  margin-left: 10px;

}
hr{
  border: none;
  border-top: 1px solid #ddd;
}